<!DOCTYPE html>
<html lang="en" ng-app="shoppingList">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Shopping List</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css">
    <link rel="stylesheet" href="app/app.css">
  </head>

  <body ng-controller="ShoppingListController">
    <div class="container">
      <div ng-show="isEditing">
        <div class="row">
          <div class="col-md-12 form-inline">
            <h1>
              Shopping List
              <input id="list-name" class="form-control" type="text" ng-model="name" placeholder="List name">
            </h1>
          </div>
        </div>
        <div ng-repeat="item in listItems">
          <div class="row">
            <div class="col-md-3 form-group">
              <input class="form-control" type="text" ng-model="item.name" placeholder="Name">
            </div>
            <div class="col-md-3 form-group">
              <ui-select tagging tagging-label="(new)" ng-model="item.category">
                <ui-select-match allow-clear placeholder="Category">
                  {{$select.selected}}
                </ui-select-match>
                <ui-select-choices repeat="category in categories">
                  {{category}}
                </ui-select-choices>
              </ui-select>
            </div>
            <div class="col-md-1 form-group">
              <input class="form-control" type="text" ng-model="item.quantity" placeholder="Qty">
            </div>
            <div class="col-md-2 form-group">
              <input class="form-control" type="text" ng-model="item.unit" placeholder="Unit">
            </div>
            <div class="col-md-2 form-group">
              <input class="form-control" type="text" ng-model="item.notes" placeholder="Additional notes">
            </div>
            <div class="col-md-1 form-group">
              <button type="button" class="btn btn-danger" ng-click="removeItem($index)">
                <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-success" ng-click="addItem()">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
            </button>
          </div>
        </div>
      </div>

      <div class="printable" ng-hide="isEditing">
        <div class="row">
          <div class="col-md-12">
            <h1>{{name}}</h1>
            <div ng-repeat="group in listItems | groupBy:'category':'itemsByCategory'">
              <h2>{{group.category}}</h2>
              <table class="table table-striped">
                <tbody>
                  <tr ng-repeat="item in group.items">
                    <td class="qty">{{item.quantity}}</td>
                    <td class="unit">{{item.unit}}</td>
                    <td class="name">{{item.name}}</td>
                    <td class="notes">{{item.notes}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <input class="btn btn-primary btn-block" ng-click="setEditMode(false)" type="button" value="Print/Preview List" ng-if="isEditing">
        <input class="btn btn-primary btn-block" ng-click="setEditMode(true)" type="button" value="Edit List" ng-if="!isEditing">
      </div>
    </footer>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/ng-group/src/ngGroup.js"></script>
    <script src="app/ShoppingListModule.js"></script>
    <script src="app/ShoppingListController.js"></script>
  </body>

</html>
