<div>
  <div class="row">
    <div class="col-md-12 form-inline">
      <h1>
        Shopping List
        <input id="list-name" class="form-control" type="text" ng-model="name" placeholder="List name">
      </h1>
    </div>
  </div>
  <div ng-repeat="item in listItems">
    <div layout="row">
      <div flex="25" class="form-group">
        <input class="form-control" type="text" ng-model="item.name" placeholder="Name">
      </div>
      <div flex="25" class="form-group">
        <md-autocomplete md-selected-item="item.category" md-items="category in categories" md-item-text="item.category" placeholder="Category">
          {{category}}
        </md-autocomplete>
      </div>
      <div flex class="form-group">
        <input class="form-control" type="text" ng-model="item.quantity" placeholder="Qty">
      </div>
      <div flex="15" class="form-group">
        <input class="form-control" type="text" ng-model="item.unit" placeholder="Unit">
      </div>
      <div flex="15" class="form-group">
        <input class="form-control" type="text" ng-model="item.notes" placeholder="Additional notes">
      </div>
      <div flex class="form-group">
        <button type="button" class="btn btn-danger" ng-click="removeItem($index)">
          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</div>
